nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;

    

}
nav a{
    padding: 1em;
    color: black;
    text-decoration: none;
    text-align: right;
}
nav img{
    height: 40px;
    padding: 1em;
    text-align: right;
}
main{
    width: 50%;
    text-align: center;
    margin: auto;
}
input{
    width: 80%;
    padding: 1em;
    border-radius: 30px;
    border: 1px solid  gray;
}
.btn_container{
    margin-top: 1em;
}
.btn_container button{
    padding: 1em;
    border: none;
}